.widgets-container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .admin-box {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
  }
  .ag-1-4 {
    width: calc(25% - 20px);
  }
  .ag-2-4 {
    width: calc(50% - 20px);
  }
  .ag-3-4 {
    width: calc(75% - 20px);
  }
  .ag-4-4 {
    width: 100%;
  }
}
