.admin-box {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px rgb(89 102 122 / 5%);
  box-shadow: 0 0 20px rgb(89 102 122 / 5%);
  border: 0 solid #e5e5e5;
}
