label {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}

input {
  border-radius: 5px;
  height: 45px;
  border: 1px solid #e5e5e5;
  padding: 0 22px;
  font-size: 14px;
  color: #070707;
  background: #fff;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
