.loader {
  margin: 65px auto;
  border: 15px solid $ligthBgClolor;
  border-top: 15px solid $primaryColor;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
