.tasks-list {
  ul.tasks-list {
    list-style: none;
    padding: 0px;
    li {
      margin-bottom: 10px;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 5px;
      .close-btn {
        background: $redColor;
        display: inline-block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        text-align: center;
        border-radius: 50%;
        line-height: 16px;
        font-size: 16px;
        color: #fff;
        padding: 0px;
        cursor: pointer;
        position: absolute;
        right: 0px;
      }
    }
  }
}
