.left-side-nav {
  .__react_component_tooltip {
    color: $primaryColor;
    font-size: 14px;
    padding: 7px;
  }
}

.top-bar {
  .__react_component_tooltip {
    color: $primaryColor;
    font-size: 14px;
    padding: 7px;
  }
}
