.edit-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  .edit-profile {
     background: #fff;
     margin: 0;
  }
  .user-info {
     display: flex;
     align-items: center;
     gap: 1rem;
     img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #dbdbdb;
     }
     h2 {
        color: #252525;
     }
  }
  .edit-profile-form {
     margin-top: 2rem;
  }
  .btn-change-image {
     margin-left: 1rem;
  }
}
