// Variables goes here
$primaryColor: #6f4ef2;
$lightThemeElementsColor: #fff;
$darkThemeElementsColor: #1d1933;
$ligthBgClolor: #f2f2f2;
$darkBgColor: #131129;
$redColor: #f73164;
$greenColor: #51bb25;
