.dark-theme.admin-container {
  .left-side-nav {
    background: $darkThemeElementsColor;
    svg.svg-inline--fa {
      color: #fff;
    }
  }
  .right-side {
    .top-bar {
      background: $darkThemeElementsColor;
      svg.svg-inline--fa {
        color: #fff;
      }
    }
    .widgets-container {
      background: $darkBgColor;
      .admin-box {
        background: $darkThemeElementsColor;
        * {
          color: #fff;
        }
      }
    }
  }
}
