body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

// Utilities
@import "utilities/variables";
@import "utilities/mixins";

// Components
@import "components/admin-box";
@import "components/tasks-list";
@import "components/signin-box";
@import "components/inputs";
@import "components/buttons";
@import "components/tooltips";
@import "components/sweet-alert";
@import "components/weather-info";

// Layouts
@import "layout/admin";
@import "layout/sign-in";

// Pages
@import "pages/signIn";
@import "pages/tasks";

// Themes
@import "themes/themes-change-transition";
@import "themes/light";
@import "themes/dark";
