.admin-container {
  display: flex;
  min-height: 100vh;
  .left-side-nav {
    width: 50px;
    ul {
      margin: 0;
      padding: 0;
      margin-top: 40px;
      list-style: none;
      text-align: center;
      li {
        cursor: pointer;
        margin-bottom: 20px;
        a {
          padding: 5px 5px;
          display: inline-block;
          box-sizing: border-box;
          svg {
            width: auto;
            height: 20px;
          }
        }
      }
    }
  }
  .right-side {
    width: calc(100% - 50px);
    overflow: hidden;
    background: $ligthBgClolor;
    display: flex;
    flex-direction: column;
    .top-bar {
      height: 40px;
      padding-right: 20px;
      display: flex;
      justify-content: right;
      .profile-picture {
        object-fit: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      svg,
      img {
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        padding: 3px;
      }
      .dropdown-item-icon {
        svg {
          margin-left: 0;
        }
      }
    }
  }
}
